<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Test</title>
</head>
<body>
    <div align="center">
        <div id="score">
            <p>SCORE: {{score}}</p>
            <p v-if="highScore > score">HIGH SCORE: {{highScore}}</p>
            <p v-if="highScore < score">HIGH SCORE: {{score}}</p>
        </div>
        <canvas id="myCanvas" width="1280" height="700" style="border:1px solid #000000;"></canvas>
    </div>
    <script src="ball.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        "use strict";
        
        let Score = new Vue({
            el: '#score',
            data: {
                score: 0,
                highScore: 0,
            }
        })

        var fps = 120;
        var canvas = document.getElementById('myCanvas');
        var ctx = canvas.getContext('2d');
        var x = 300;
        var y = 80;
        var startWidth = 30;   
        var startHeight = 30;

        var width = startWidth;
        var height = startHeight;
        var speed = 4;

        var startGravity = .5;
        var gravity = startGravity;
        var float = 0.2;

        var bounce = .9;
        var squash = 0;
        var maxSquash = .7;
        var squashSpeed = 2;
        var bounceSpeed = 0;
        var startBounce = 0;
        var extraBounce = .3;
        var fallSpeed = 0;

        var knockBack = 5;

        var addInterval = 2 * 120;
        var addCount = 0;

        var spring = false;
        var maxSpring = .7;
        var springSpeed = 5;

        var moveRight = true;
        var moveLeft = false;
        var startSquash = false;

        var walls = []
        walls.push (new wall(ctx, {x: 1200, y: canvas.height - 200, width: 70, height: (Math.random() * 300), speed: (Math.random() * 3) + 2}));

        document.addEventListener('keydown', (ev) => {
            // if (ev.code == 'ArrowRight' || ev.code == 'KeyD') {
            //     moveRight = true;
            //     moveLeft = false;
            // }
            // if (ev.code == 'ArrowLeft' || ev.code == 'KeyA') {
            //     moveLeft = true;
            //     moveRight = false;
            // }
            if (ev.code == 'Space' || ev.code == 'KeyS') {
                startSquash = true;
            }
        });
        document.addEventListener('keyup', (ev) => {
            // if (ev.code == 'ArrowRight' || ev.code == 'KeyD') {
            //     moveRight = false;
            // }
            // if (ev.code == 'ArrowLeft' || ev.code == 'KeyA') {
            //     moveLeft = false;
            // }
            if (ev.code == 'Space' || ev.code == 'KeyS') {
                startSquash = false;
            }
        });
        setInterval(() => {
            Score.score++;
            let oldX = x;
            let oldY = y;

            if (x + width > canvas.width * .7) {
                moveRight = false;
            } else {
                moveRight = true;
            }

            if (x + width > canvas.width) {
                x -= speed * knockBack;
            }

            walls.forEach(element => {
                element.scroll();
                if (element.checkCollision(x, y, height, width)){
                    Score.score++;
                    x-=speed * knockBack;
                }
            });
            if (x < 0){
                if (Score.score > Score.highScore) {
                    Score.highScore = Score.score; 
                }
                Score.score = 0;
                x = 300;
                y = 80;
                walls = []
                walls.push (new wall(ctx, {x: 1200, y: canvas.height - 200, width: 70, height: (Math.random() * 300), speed: (Math.random() * 3) + 2}));
                ctx.fillStyle = '#FFFFFF';
                ctx.fillRect(0, 0, canvas.width, canvas.height);
            }
            addCount++;
            if (addCount >= addInterval) {
                addCount = 0;
                walls.push (new wall(ctx, {x: 1200, y: canvas.height - (Math.random() * canvas.height), width: 70, height: (Math.random() * 300), speed: (Math.random() * 3) + 2}));
            }


            fallSpeed += gravity;
            y -= bounceSpeed;
            if (y + height + fallSpeed < canvas.height) {
                y += fallSpeed;
            } else {
                if (startBounce == 0) {
                    startBounce = fallSpeed * bounce;
                    bounceSpeed = startBounce;
                }
                if (fallSpeed != 0) {
                    y = canvas.height - height;
                }
                fallSpeed = 0;
                if (bounceSpeed != startBounce){
                    bounceSpeed = startBounce;
                }
            }

            gravity = startGravity
            if (startSquash) {
                if (fallSpeed > bounceSpeed){
                    gravity = startGravity * float;
                }
                width+=squashSpeed;
                height-=squashSpeed;
                if (width > startWidth * (1 + maxSquash)){
                    width-=squashSpeed;
                    height+=squashSpeed;                     
                }
            }
           
            if (!startSquash) {
                if (width > startWidth) {
                    if (fallSpeed < 120) {
                        spring = true;
                        if (bounceSpeed <= startBounce){
                            bounceSpeed += bounceSpeed * extraBounce;
                        }
                    }
                }
            }

            if (spring) {
                width -= springSpeed;
                height += springSpeed;
                if (height > startHeight * (1 + maxSpring)){
                    width += springSpeed;
                    height -= springSpeed;
                }
                if (fallSpeed > bounceSpeed) {
                    spring = false;
                }
            }

            if (!startSquash && !spring){
                if (width != startWidth) {
                    width -= (width - startWidth) * 0.2;
                }
                if (height != startHeight) {
                    height -= (height - startHeight) * 0.2;
                }
            }

            if (moveRight) {
                ctx.fillStyle = '#FFFFFF';
                ctx.fillRect(x, y, width, height)
                x += speed;
            }
            if (moveLeft) {
                ctx.fillStyle = '#FFFFFF';
                ctx.fillRect(x, y, width, height)
                x -= speed;
            }
            
            if (oldX != x || oldY != y) {
                ctx.fillStyle = '#FFFFFF';
                ctx.fillRect(oldX - 5, oldY - 5, width + 10, height + 10);
                ctx.fillStyle = '#FF0000';      
                ctx.fillRect(x, y, width, height);
            }

        }, 1000/fps);
    </script>
</body>
</html>